.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 7.5vw;
  top: 0px;
}

.menu-logo > img {
  width: 100%;
  height: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
}

#top-menu {
  background-color transparent;
  transition: background-color 0.5s;
}

#top-menu .menu-logo > img {
  opacity: 0;
  transition: opacity 0.5s;
}

#scroll-menu {
  background-color: white;
  transition: background-color 0.5s;
  z-index: 10;
}


#scroll-menu .menu-item > a {
  color: black;
  transition: color 0.5s;
}

#scroll-menu .menu-logo > img{
  opacity 1;
  transition: opacity 1.2s;
}


.menu-item {
  height: 30%;
  padding-top: 2%;
  padding-bottom:1vw;
  margin-left:2%;
  margin-right:2%;
}



#last-logo{
  margin-right: 5%;
}

.line {
  height: 2px;
  width: 100%;
}


@keyframes line-animation {
        0% {width: 0%;}
        100% {width: 100%;}
    }

.menu-item:hover > .line {
  background: red;
  animation: line-animation 0.1s linear;*/
  }

.menu-item a {
  margin: auto;
}

.menu-item a:link {
  font-size: calc(6px + (25 - 6) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgb(0,0,0,1.0);
  text-decoration: none;
}

.menu-item a:visited {
  font-size: calc(6px + (25 - 6) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgb(0,0,0,1.0);
  text-decoration: none;
}


@keyframes link-animation {
        0% {color: black;}
        100% {color: red;}
    }

.menu-item:hover > a {
  animation: link-animation linear 0.2s;
  animation-fill-mode: forwards;
}
